[submodule "rapidjson"]
	path = rapidjson
	url = https://github.com/Soldier-l-c/RapidJson.git
[submodule "grpc_1.28.0"]
	path = grpc_1.28.0
	url = https://github.com/Soldier-l-c/grpc_1.28.0.git
[submodule "openssl"]
	path = openssl
	url = https://github.com/Soldier-l-c/openssl.git
[submodule "curl"]
	path = curl
	url = https://github.com/Soldier-l-c/curl.git
[submodule "zlib"]
	path = zlib
	url = https://github.com/Soldier-l-c/zlib.git
[submodule "rapidxml"]
	path = rapidxml
	url = https://github.com/Soldier-l-c/rapidxml.git
[submodule "glog"]
	path = glog
	url = https://github.com/Soldier-l-c/glog.git
[submodule "cpp-httplib"]
	path = cpp-httplib
	url = https://github.com/Soldier-l-c/cpp-httplib.git
[submodule "cmdline"]
	path = cmdline
	url = https://github.com/Soldier-l-c/cmdline.git
[submodule "boost"]
	path = boost
	url = https://github.com/Soldier-l-c/boost.git
